<div class="review_1">
	<img class="review" src="/basic/web/img/{{ new.image }}">
	<a id="rev_link" href="#">{{ new.title }}</a>
	<p class="review_text">{{ new.news }}</p>
</div>
<div class="border"></div>
