<!DOCTYPE html>
<html lang="ru">
<head>

<link rel="stylesheet" href="/basic/web/css/bootstrap.css">
	<link href="/basic/web/css/site.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="/basic/web/css/bootstrap-theme.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.js"></script>

</head>
<body>


<div class="wrapper container">
	<div class="my_nav  nav">
		<ul class="">
			<li class="col-sx-12" id="my_nav"><a href="#">О компании</a></li>
			 <li class="col-sx-12"><a href="/index.php/products/">Каталог</a></li>
			 <li class=" col-sx-12"><a href="#">Доставка</a></li>
			 <li class="col-sx-12"><a href="#">Наши магазины</a></li>
			<li class="col-sx-12"><a href="#">Оптовикам</a></li>
			<li class="col-sx-5"><a href="#">Контакты</a></li>
		</ul>
	 <form class="navbar-form">
		<input class="form-control" type="text" placeholder="поиск по каталогу" name="serch" >
	</form>

	</div>
	<div class="had row ">
		<div class="logo col-md-3 col-cm-3">
			<a class="logoLink" href="/"><img class="img-responsive"></a>
		 </div>

			<div class="contact col-md-5">
				<p class="nomer">(495) 234-22-33, (495) 232-22-35</p>
				<p><a mailto="" class="mail">Написать сообщение</a></p>
				<p class="icq">288-22-08</p>
			</div>

		<div class="basket col-md-3 col-sm-7 col-xs-11">
			<p class="basket1">В вашей корзине пусто</p>
			<p class="kabinet"><a href="#" class="">Личный кабинет</a></p>
	     </div>
	</div>

	<div class="tovar row">
		<div class="col-md-3 nav_vertikal">
			<ul class="col-md-10  col-sm-12" id="nav_v">
				 <li><a href="#">Автомодели</a>
				    <ul id="nav_2_lv">
					  <li class="margin_lv_2_top" ><a href="/index.php/object/">Машинки</a></li>
					  <li ><a href="/index.php/object/">Машинки</a></li>
					  <li ><a href="/index.php/object/">Машинки</a></li>
					  <li ><a href="/index.php/object/">Машинки</a></li>
					</ul>
				</li>
				<li><a href="/product/">Самолеты</a></li>
				<li><a href="#">Вертолеты</a></li>
				<li><a href="#">Аккумуляторы, кабели</a></li>
				<li><a href="#">Аппаратуа</a></li>
				<li><a href="#">Инструмент, материалы</a></li>
				<li><a href="#">Винты, крепеж, клей</a></li>
				<li><a href="#">Двигатели ДВС</a></li>
				<li><a href="#">Электродвигатели</a></li>
				<li><a href="#">Катеры, яхты</a></li>
			</ul>



			<aside class="col-md-12 inform">

				<p class="inform_data">12.10.2011</p>
				<a href="">Много скидок!</a>
				<p class="inform_text">Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.</p>
				<p class="inform_data">12.10.2011</p>
				<a href="">Обменяй старое на новое!</a>
				<p class="inform_text">Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.</p>
				<p class="inform_data">12.10.2011</p>
				<a href="">Обновление в каталогах!</a>
				<p class="inform_text">Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.</p>
				<div class="napisatnam"><p><a  href="#" >Написать нам</a></p></div>
			</aside>


			<aside class="123 col-md-12">
			<aside class="sidbar1"></aside>
			<aside class="sidbar2"></aside>
			</aside>
        </div>

		{% block content %}{% endblock %}
			</div>
	<div class="footer">
	<ul class="footer_nav">
		<li><a href="3">О компании</a></li>
		<li><a href="3">Каталог</a></li>
		<li><a href="3">Доставк></a></li>
		<li><a href="3">Наши магазины</a></li>
		<li><a href="3">Оптовикам</a><li>
		<li><a href="3">Контакты</a></li>
	</ul>
	</div>
	<div class="clear">
</div>
</body>
</html>